.main {
    justify-content: center;
    width: 100%;
}
.sub1 {
    margin: 60px 0px;
}
.div11 {
    margin: 0% 5% 5% 0%;
}
.sub2 {
    height: 100%;
    margin: 60px 0px 0 60px;
}
.div16 {
    margin-bottom: 5%;
}
.sub3 {
    margin: 25px 40px 50px;
}
.div20 {
    margin-bottom: 5%;
}
.sub4 {
    height: 100%;
    margin: 25px 30px 0 20px;
}
.div24 {
    margin-bottom: 5%;
}
.h-25 {
    height: 25vh;
} 
.w-47 {
    width: 47%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.black:hover {
    background-color: black;
}
.blue:hover {
    background-color: blue;
}
.red:hover {
    background-color: red;
}
.white:hover{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.mr {
    margin-right: 5%;
}
.pd {
    padding: 20px 20px;
}
.w-40 {
    width: 40%;
}